@model ASPnetCoreMVC.Models.ProductViewModel

<form asp-action="CreateProduct" method="post">
    <div>
        <label for="Name">Tên sản phẩm:</label>
        <input type="text" id="Name" name="Name" asp-for="Name" required />
    </div>

    <div>
        <label for="Price">Giá:</label>
        <input type="number" id="Price" name="Price" asp-for="Price"  required />
    </div>

    <div>
        <label for="Stock">Tồn kho:</label>
        <input type="number" id="Stock" name="Stock" asp-for="Stock" required />
    </div>

    <button type="submit" class="btn btn-success">Thêm sản phẩm</button>
</form>
