@model eShopSolution.Web.Models.AllProductViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" href="~/css/Index.css" />
   
</head>
<body>

    <div class="search-category-bar">
        <div class="container-fluid">
            <div class="row">
                <h2 class="mb-4 col-sm-10">Danh sách hàng hóa</h2>
                <!-- Cart-->
                <div class="d-flex-card col-sm-2 float-end">
                    <button class="btn btn-outline-dark"  >
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span id="count-card" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="categoryDropdown">Loại sản phẩm:</label>
                        <div class="input-group">
                            <select id="categoryDropdown" name="categoryId" class="form-control">
                                <option value="">-- Chọn --</option>
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <button type="submit" id ="submit-Category" class="btn btn-primary">Tìm kiếm</button>

        </div>

    </div>
  

    <!-- fill data listproduct-->
    <div class="container">
        <h2>Danh sách sản phẩm</h2>
        <div id="productTableContainer"></div>
    </div>

    <script>

        $(document).ready(function () {

            function addToCart() {
                var cartCountElement = document.getElementById("count-card");
                var currentCount = parseInt(cartCountElement.innerText);
                debugger;

                cartCountElement.innerText = currentCount + 1;
            }
            $(document).on('click', '#add-card', function (e) {
                addToCart();
            });


            function loadProductTable() {
                var categoryDropdown = $('#categoryDropdown').val();

                $.ajax({
                    url: '@Url.Action("LoadProductTable", "Order")',
                    type: 'GET',
                    data: {
                        categoryId: categoryDropdown
                    },
                    success: function (data) {
                        $('#productTableContainer').html(data);
                    },
                    error: function () {
                        alert('Có lỗi xảy ra khi tải danh sách sản phẩm.');
                    }
                });
            }

            loadProductTable();

            $(document).on('click', '#submit-Category', function (e) {
                e.preventDefault();
                loadProductTable();
            });
            // $('form.search-category-bar').on('submit', function (e) {
            //     debugger;
            //     e.preventDefault();
            //     loadProductTable();
            // });
           
        });
    </script>
</body>
</html>
